/* Existing styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1f2429;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #34495e;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    color: #f4f4f4;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content input {
    display: block; /* Make the input take the full width */
    padding: 10px;
    width: 200px;
    margin: 0 auto 10px auto; /* Center the input and add margin */
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.modal-content button {
    display: block; /* Make the button full-width */
    padding: 10px 20px;
    background-color: #f39c12;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto; /* Center the button and add space above */
}

.modal-content button:hover {
    background-color: #e67e22;
}


p {
    margin-top: 30px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#countdown {
    font-size: 25px;
    font-weight: bold;
    color: #f39c12;
}

table {
    width: 60%;
    margin: 0 auto;
    border-collapse: separate; /* Szükséges a belső keretekhez */
    border-spacing: 0; /* Nincs köz a cellák között */
    margin-top: 20px;
    background-color: #34495e;
    border-radius: 10px; /* Lekerekített sarkak */
    border: none; /* Nincs külső keret */
    overflow: hidden; /* Fontos a border-radius-hoz */
}

th, td {
    border: none;
    padding: 8px;
}

/* Styles for signals */
.signal-buy {
    color: #2ecc71;
}

.signal-breakout-buy {
    color: #27ae60;
}

.signal-sell {
    color: #e74c3c;
}

.signal-breakout-sell {
    color: #c0392b;
}

.signal-hold {
    color: #ffffff;
}

/* Chart container styling */
#chart-container {
    width: 60%;
    margin: 50px auto;
    padding-bottom: 20px;
    background-color: #34495e;
    border-radius: 8px;
    display: none; /* Hide initially */
}

canvas {
    max-width: 100%;
    height: 400px;
}

.chart-buttons {
    margin-top: 10px;
}

.chart-buttons button {
    padding: 10px;
    margin-right: 5px;
    background-color: #f39c12;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.chart-buttons button:hover {
    background-color: #e67e22;
}

#main-content {
    display: none; /* Hide main content initially */
}



